html,
body,
#root {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: transparent;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  padding: 20px;
  gap: 20px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow-y: auto;
  overflow-x: hidden;
}

.goal-column {
  padding: 8px;
  width: 190px;
  height: 50px;
  text-wrap: nowrap;
}

.gauge-needle {
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.background {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 100dvh;
  /* right: 0; */
  /* bottom: 0; */

  & div {
    width: 50dvw;
    height: 100dvh;
  }
  .badcop {
    background: linear-gradient(to bottom, #02a8f8, #5b24e3);
  }

  .jake {
    background: linear-gradient(to top, #ed0852, #fe9902);
  }
}

.number-flow-react::part(integer) {
  font-size: 75px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  section.goals {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 0;
  }

  footer {
    background-color: #00000080;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 6px;
  }
}

.p-datatable-wrapper {
  border-radius: 20px 20px 0 0;
}

.points-column,
.unlocked-column {
  padding: 8px;
  width: 130px;
  height: 50px;
}

.overlay {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.overlay * {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay iframe {
  border: 0;
  top: 1px;
}

.pi {
  margin-right: 5px;
}

.score-gauge {
  text-align: center;
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.team-score {
  font-size: 70px;
  width: 200px;
}

.text-center {
  text-align: center;
}

.toggle-arrow {
  width: 3em;
}

.vcontainer {
  display: flex;
  flex-direction: column;
}

.twitch-avatar {
  display: inline-block;
  border-radius: 1000px;
  width: 56px;
  height: 56px;
  border: 3px solid red;
  box-sizing: content-box;
  margin-top: 4px;
  overflow: hidden;

  img {
    transform-origin: center;
    width: 56px;
    height: 56px;
    scale: 1;
    transition: scale 0.2s;

    &:hover {
      scale: 1.2;
    }
  }
}

.goal-card {
  position: relative;
  background-color: #ffffff50;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;

  .name {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .right {
    align-items: flex-end;
  }
  .p-avatar {
    width: 1rem;
    height: 1rem;
  }
  .points {
    font-size: 28px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }
  .heads {
    margin-top: 4px;
    display: flex;
    gap: 2px;
  }
}
