.container {
  display: flex;
  flex-direction: row;
}

.overlay {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.overlay * {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay iframe {
  border: 0;
  top: 1px;
}
