html,
body,
#root {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: transparent;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  padding: 36px;
  gap: 20px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

.goal-column {
  padding: 8px;
  width: 190px;
  height: 50px;
  text-wrap: nowrap;
}

.gauge-needle {
  transform-origin: 212px 208px;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.background {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 100dvh;
  /* right: 0; */
  /* bottom: 0; */

  & div {
    width: 50dvw;
    height: 100dvh;
  }
  .badcop {
    background: linear-gradient(to bottom, #02a8f8, #5b24e3);
  }

  .jake {
    background: linear-gradient(to top, #ed0852, #fe9902);
  }
}

.number-flow-react::part(integer) {
  font-size: 75px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    padding: 10px 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .goals {
    overflow-y: scroll;
    scrollbar-color: #ffffff #00000000;
    section {
      display: flex;
      flex-direction: row;
      padding-left: 14px;
      padding-bottom: 6rem;
    }
  }

  footer {
    position: absolute;
    transform: translate(calc(50vw - 50%));
    bottom: -90px;
    background-color: #222222d5;
    animation: float-up 0.5s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-delay: 0.5s;
    backdrop-filter: blur(4px);
    color: #ccc;
    padding: 7px 8px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    div {
      gap: 6px;
      display: flex;
      flex-direction: row;
    }
  }
}

@keyframes float-up {
  0% {
    bottom: -90px;
  }
  100% {
    bottom: 16px;
  }
}

.points-column,
.unlocked-column {
  padding: 8px;
  width: 130px;
  height: 50px;
}

.overlay {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.overlay * {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay iframe {
  border: 0;
  top: 1px;
}

.pi {
  margin-right: 4px;
}

.score-gauge {
  text-align: center;
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.team-score {
  font-size: 70px;
  width: 200px;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-center {
  text-align: center;
}

.toggle-arrow {
  width: 3em;
}

.vcontainer {
  display: flex;
  flex-direction: column;
}

.team-header-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  .player-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    height: 32px;
  }

  .team-name {
    color: #ffffff;
    margin-top: 0;
  }
}

.twitch-avatar {
  display: inline-block;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  border: 3px solid red;
  box-sizing: content-box;
  margin-top: 4px;
  overflow: hidden;

  img {
    transform-origin: center;
    width: 40px;
    height: 40px;
    scale: 1;
    transition: scale 0.2s;

    &:hover {
      scale: 1.2;
    }
  }
}

.goal-card {
  background-color: #ffffff50;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;

  .name {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .right {
    align-items: flex-end;
  }

  .p-avatar {
    width: 1rem;
    height: 1rem;
  }

  .points {
    position: relative;
    font-size: 32px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    line-height: 32px;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .heads {
    margin-top: 4px;
    display: flex;
    gap: 2px;
  }

  .combo {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}

.unlocked {
  opacity: 0.5;
}

.p-avatar img {
  image-rendering: pixelated;
}
